[Desktop Entry]
Type=Application
Name=SiliTune
Exec=sudo nohup python /home/petergu/MyHome/Working/SiliTune/silitune.py &
Path=/home/petergu/MyHome/Working/SiliTune/
Terminal=true
